/* Overall Stuff */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    font-family: "Inter", serif;
    margin: 0;
}

#overall-container {
    margin: 48px 84px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 240px;
}

:root {
    background-color: #EED7F4;
}

/* Text column */
h1 {
    font-size: 128px;
    margin: 0;
    font-variation-settings: 'wght' 500;
}
h2 {
    font-size: 64px;
    margin: 148px 0 0 0;
    font-variation-settings: 'wght' 400;
    text-decoration: underline;
}
h3 {
    font-size: 48px;
    margin: 40px 0 0 0;
    font-variation-settings: 'wght' 400;
}
.next-line {
    display: flex;
    flex-direction: column;
}

/* Image column */

#image-column {
    /* position: relative; */
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.image {
    border-radius: 40px;
    border: 8px solid black;
}

/* Button CSS */
#emoji-button {
    position: absolute;
    right: 84px;
    width: 500px;
    height: 212px;
    border: 8px solid black;
    border-radius: 40px;
    font-size: 56px;
    background-color: #FF383B;
    cursor: pointer;    
}

.emoji {
    position: absolute;
    font-size: 2rem;
    pointer-events: none; 
    animation: fall 3s linear forwards;
}
@keyframes fall {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100vh);
    }
}